<h1>Список Пользователей</h1>

<table>
  <tr>
  	<th>Лого</th>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>Email</th>
    <th>Адресс</th>
    <th>Должность</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @handbags.each do |handbag| %>
  <tr>
    <td><%= image_tag handbag.logo.url(:thumb) %></td>
  	<td><%= handbag.name %></td>
    <td><%= handbag.tel %></td>
    <td><%= handbag.email %></td>
    <td><%= handbag.adress %></td>
    <td><%= handbag.job %></td>
    <td><%= link_to 'Show', handbag %></td>
    <td><%= link_to 'Edit', edit_handbag_path(handbag) %></td>
    <td><%= link_to 'Destroy', handbag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый пользователь', new_handbag_path %>
