<!DOCTYPE html>
<html>
<head>
  <title>Веб сервис по созданию визиток</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		
		<div id="header">
			<div class="left">
				<h1><a href="/">Визитки онлайн</a></h1>
				<p>Сервис по созданию визиток</p>
			</div>
			
			<div class="right">
				<ul id="menu">
					<li><a href="/">Главная</a></li>
					<li><%= link_to "Все визитки", handbags_path %></li>
				</ul>	
			</div>
		</div>
		
		<div id="profile" class="left">
			<%= link_to 'Новый шаблон', new_template_path %>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		<div class="clear"></div>
		<div id="footer">
			<p>&copy;</p>
		</div>
	</div>
</body>
</html>
